<div class="row depth-1 depth-hover col-md-offset-4 col-md-4 text-center panel">
    <div class="col-md-10 col-md-offset-1">
        <form class="form-horizontal">
            <h2>Authorisation</h2>
            <div class="form-group">
                <label class="control-label" for="Email">Email:</label>
                <input class="form-control" [(ngModel)]="user.Email" name="Email">
            </div>
            <div class="form-group">
                <label class="control-label" for="pass">Password:</label>
                <input type="password" class="form-control" [(ngModel)]="user.Password" name="pass">
            </div>
            <div class="">
                <input type="button" (click)="submit()" class="btn btn-success" value="Login">
                <input type="button" (click)="cancel()" class="btn btn-primary" value="Cancel">
            </div>
        </form>
        <br/>
    </div>
</div>